.BackDrop {
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 100;
     left: 0;
     top: 0;
     /* background-color: rgba(0, 0, 0, 0.3); */
}
/* .Span {
     position: absolute; 
     top: 63%;  relation with the parent: header  
     left: 50%; 
     transform: translate(-50%, -50%);   translate( width, height);to center elements 
     text-align: center;
     padding: 15px;
     border-radius: 5px;
     cursor: pointer;
}
  */
 
 @media (min-width: 600px) {
     .Modal {
         width: 500px;
         left: calc(50% - 250px);
     }
 }